<!DOCTYPE html>{% load static %}{% load i18n %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    {% block files %}{% endblock %}
</head>
<body>
<script>
    // Default i18n texts
    const GAME_MODE = {% get_current_language as LANGUAGE_CODE %}"{{ LANGUAGE_CODE }}";

    // Strings
    let i18n = {
        " has passed the start point, reward 200.":  "{% trans ' has passed the start point, reward 200.' %}",
        "Navigating back... Create your own game!": "{% trans 'Navigating back... Create your own game!' %}",
        "Waiting for host to start the game...": "{% trans 'Waiting for host to start the game...' %}",
        "Loading game resources...": "{% trans 'Loading game resources...' %}",
        "4 Players Max Per Game!": "{% trans '4 Players Max Per Game!' %}",
        " gets a roll result ": "{% trans ' gets a roll result ' %}",
        "Welcome to Monopoly": "{% trans 'Welcome to Monopoly' %}",
        "Permission Denied": "{% trans 'Permission Denied' %}",
        "Start a New Game": "{% trans 'Start a New Game' %}",
        "Game Not Found": "{% trans 'Game Not Found' %}",
        "Start point": "{% trans 'Start point' %}",
        "Start Game": "{% trans 'Start Game' %}",
        "Hold on...": "{% trans 'Hold on...' %}",
        "Your Turn!": "{% trans 'Your Turn!' %}",
        "Get Reward": "{% trans 'Get Reward' %}",
        "Purchase": "{% trans 'Purchase' %}",
        "Cancel": "{% trans 'Cancel' %}",
        "Close": "{% trans 'Close' %}",
        " got ": "{% trans ' got ' %}",
        "Roll": "{% trans 'Roll' %}",
    };

    // Translate
    let translate = function (string) {
        if (typeof i18n[string] === "string") {
            return i18n[string];
        }
        console.log('Translate not found: ', string)
        return string;
    }
</script>
{% csrf_token %}
<div id="page-container" class="center">
    {% block content %}{% endblock %}
</div>
</body>
</html>